# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio garbage
*.vsidx
*.config
Properties/
Debug/
top_c#/
obj/
bin/
*.pdb
*.csproj
*.cache
*.txt
*.sln
*.suo
*.json

# WPF garbage
App.xaml
App.xaml.cs
AssemblyInfo.cs
*.csproj
*.csproj.user
